doctype html
html
  head
    title TEAM JUKKA #{title ? ' | ' + title : ''}
    meta(name='viewport', content='width=device-width, user-scalable=no')

    include ../linker/public/styles

    // grunt is a PITA to make work with fonts, so link them here
    link(rel="stylesheet", href="/public/fonts/League-Gothic/stylesheet.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/public/styles/main.css")   
    // Facebook OG tags
    meta(property='og:title', content=title)
    meta(property='og:description', content=description)
    meta(property='og:url', content=req.protocol + '://' + req.get('host') + req.originalUrl)
    meta(property='og:type', content='article')
    meta(property='og:image', content=headlineImg ? headlineImg.full : youtubeID ? 'http://img.youtube.com/vi/' + youtubeID + '/0.jpg' : '')


  body
    include ../includes/publicNav
    include ../includes/header