if !req.param('noLayout')
  include ../includes/head.jade

////////////////////////////////
#stage
  section#main-features.section.main-feature-gray
    .container
      .row   
        .col-md-8.col-sm-8.wow(data-wow-duration="1000ms" data-wow-delay="300ms")
            .feature-item
              article
                h3.title-small.page-title= title
                strong.description= description

              - var writtenOn = new Date(createdAt); var month = ['Tam','Hel','Mal','Huh','Tou','Kes','Hei','Elo','Syys','Loka','Marras','Joulu'];
              em.by-line #{author.pseudonym} kirjoitti #{month[writtenOn.getMonth()]} #{writtenOn.getDate()}, #{writtenOn.getFullYear()}
              .content!= html
        .col-md-4.col-sm-4.wow.fadeInRight(data-wow-duration="1000ms" data-wow-delay="300ms")
          img.img-responsive(src=headlineImg.full)
        hr

        .fb-comments(data-href='#{req.protocol}://#{req.get("host")}/article/#{slug}', data-width='600')

    .medium-4.large-2.columns
      #vertical-ad.show-for-medium-up

  if req.session.user
    #authenticatedUserMessage.show-for-large-up
      strong Hey there,
      |  Olet kirjautuneena
      a.tiny.button.admin-link(href="/admin/article/#{id}", target='_blank').
        Voit avata jutun myös moderointipuolella.


////////////////////////////////

if !req.param('noLayout')
  include ../includes/footer.jade